/* color palette from <https://github.com/vuejs/theme> */
body {
    -webkit-tap-highlight-color: rgba(18,18,18,0);
    background-color: #f5f5f5;
}

*::-webkit-scrollbar{
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 5px;
}



